<div class="widgets" id="sg-header">
    
    <div class="row">
        
        <div class="col-md-12 content">

            <table class="table">
              <tbody>
                <tr>
                  <td><h1>h1. Hello World!</h1></td>
                  <td><sgCodeEx [text]="'<h1>h1. Hello World!</h1>'"></sgCodeEx></td>
                </tr>
                <tr>
                  <td><h2>h2. Hello World!</h2></td>
                  <td><sgCodeEx [text]="'<h2>h2. Hello World!</h2>'"></sgCodeEx></td>
                </tr>
                <tr>
                  <td><h3>h3. Hello World!</h3></td>
                  <td><sgCodeEx [text]="'<h3>h3. Hello World!</h3>'"></sgCodeEx></td>
                </tr>
                <tr>
                  <td><h4>h4. Hello World!</h4></td>
                  <td><sgCodeEx [text]="'<h4>h4. Hello World!</h4>'"></sgCodeEx></td>
                </tr>
                <tr>
                  <td><h5>h5. Hello World!</h5></td>
                  <td><sgCodeEx [text]="'<h5>h5. Hello World!</h5>'"></sgCodeEx></td>
                </tr>
                <tr>
                  <td><h6>h6. Hello World!</h6></td>
                  <td><sgCodeEx [text]="'<h6>h6. Hello World!</h6>'"></sgCodeEx></td>
                </tr>
              </tbody>
            </table>

           <!--  <sgCodeEx [text]="'
              <h6>h6. Hello World!</h6>
              <h6>h6. Hello World!</h6>
              <h6>h6. Hello World!</h6>
              <h6>h6. Hello World!</h6>
              <h6>h6. Hello World!</h6>
              <h6>h6. Hello World!</h6>
            '"></sgCodeEx> -->
          
        </div>

    </div>

</div>